*{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

html, body{
  font-size: 20px;
}

.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.body > *{
  margin: 2rem;
  flex: 1 1 0;
}

.chart img{
  width: 100%;
}